{% extends 'base.html'%}


<h2>Seja bem Vindo</h2>
{% block main %}
    <h2>Seja Bem indo(a)</h2>
    {% if user.is_authenticated %}
    <div class="d-flex">
        <div class="ml-auto p-2"> olá {{ user.username }}
            <a href="{% url 'logout' %}">Sair</a>
        </div>
    </div>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
{% now 'Y' as current_year %}
{% now 'm' as current_month %}
<a href="{% url 'archive_month' current_year current_month %}">Ver Planejamento do Mês</a>
{% endblock %}