{% extends 'base.html'%}
{% block main %}
<div>
    <h2>Seja Bem vindo {{ user.get_full_name }}</h2>

    <h3>Planejamento Mensal</h3>

    {% for store in object_list %}

        {% ifchanged store.coordinator.name  %}
            <li>{{store.coordinator.name}}</li>
        {% endifchanged %}
        <ul>
        {% ifchanged store.coordinator.name and store.visit_day %}
        <li><a href="#">{{store.visit_day|date:'d/m/Y'}}</a></li>
        {% endifchanged %}
            </ul>
        <ul>{{store.name}}</ul>

    {% endfor%}

    <p>
        {% if previous_month %}
            Previous Month: {{ previous_month|date:"F Y" }}
        {% endif %}
        {% if next_month %}
            Next Month: {{ next_month|date:"F Y" }}
        {% endif %}
    </p>
</div>
{% endblock %}