

<nav class="p-0 m-0 navbar navbar-expand-lg navbar-dark " style="background-color: #ba69df;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'archive_today' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Projetos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if not user.is_authenticated%}
                      Login
                    {% else%}
                      {{user.username}}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not user.is_authenticated%}
                        <a class="dropdown-item" href="{% url 'login' %}">Entrar</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>